<div flex="95" flex-gt-sm="70" layout="column" layout-fill layout-margin>
    <div flex>

        <br/>Sign in with Google<br/>
        <a title="Sign in with Google" href="/signin/google">
            <img width="128" alt="Google plus" src="/images/signin/google_plus.png"/>
        </a>

        <br/>Sign in with Facebook<br/>
        <a title="Sign in with Facebook" href="/signin/facebook">
            <img width="128" alt="Facebook Faenza" src="/images/signin/facebook.png"/>
        </a>

        <br/><br/>Sign in with LinkedIn<br/>
        <img width="128" alt="LinkedIn Logo" src="/images/signin/linkedin.png"/>

    </div>

</div>