/* layout */
.b-header__pos_relative {
  position: relative;
  padding-left: 1%;
  background-color: #1fa3f1;
}
.b-header__pos_right {
  position: absolute;
  right: 1%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.b-span__pos_centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* Top Bar Menu Links */
rsm-nav-top a {
  padding-right: 10px;
}
/* unvisited link */
rsm-nav-top a:link {
  color: #fff;
}
/* visited link */
rsm-nav-top a:visited {
  color: #fff;
}
.logo {
  font-family: 'Racing Sans One', cursive;
  color: #fff;
  font-size: 24px;
}
