<div flex layout="column" layout-fill layout-margin>

    <div flex>

        <h1>Rideshare Details</h1>

        &lt;&lt;&lt;&nbsp;<a href="#!/">All Rideshare Listings</a>
        <br/>
        <br/>

        <div ng-hide="vm.ready">
            <h3>Loading Rideshare...</h3>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-if="vm.errors">
            <p ng-repeat="error in vm.errors">
                <ng-md-icon style="fill: red" icon="error" size="24"></ng-md-icon>
                &nbsp;
                {{::error.title}}
            </p>
        </div>

        <div ng-if="vm.rideshare">

            <ol>
                <li ng-repeat="waypoint in vm.rideshare.itinerary.route" class="itinerary__place-big">
                    {{::waypoint.place}}
                    <span ng-if="waypoint.date" class="itinerary__date"><br/>-&nbsp;{{::waypoint.date}}</span>
                    <span ng-if="waypoint.date && waypoint.time" class="itinerary__date"> @ {{::waypoint.time}}</span>
                </li>
            </ol>

            <table class="rideshare show">
                <tr>
                    <td>Type</td>
                    <td>{{::vm.rideshare.itinerary.type}}</td>
                </tr>
                <tr>
                    <td>Trip</td>
                    <td>{{::vm.rideshare.itinerary.trip}}</td>
                </tr>
                <tr>
                    <td>Frequency</td>
                    <td>{{::vm.rideshare.itinerary.frequency}}</td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td>{{::vm.rideshare.itinerary.currency}}{{::vm.rideshare.itinerary.cost|number:2}}</td>
                </tr>
                <tr>
                    <td>Vehicle</td>
                    <td>{{::vm.rideshare.itinerary.vehicle}}</td>
                </tr>
                <tr>
                    <td>Seats</td>
                    <td>{{::vm.rideshare.itinerary.seats}}</td>
                </tr>
                <tr>
                    <td>Luggage</td>
                    <td>{{::vm.rideshare.itinerary.luggage}}</td>
                </tr>
                <tr>
                    <td>Share Driving</td>
                    <td>{{::vm.rideshare.itinerary.shareDriving}}</td>
                </tr>
                <tr>
                    <td>Smoking</td>
                    <td>{{::vm.rideshare.itinerary.smoking}}</td>
                </tr>
                <tr>
                    <td>Last Update</td>
                    <td>{{::vm.rideshare.updated_at | date:'yyyy-MM-dd'}}</td>
                </tr>
                <tr ng-if="vm.rideshare.itinerary.comment">
                    <td style="vertical-align: top">Rideshare Comments</td>
                    <td style="white-space: pre-line">{{::vm.rideshare.itinerary.comment}}</td>
                </tr>
            </table>

            <div ng-repeat="provider in vm.rideshare.user.providers">
                <div ng-repeat="(providerName, providerData) in provider"
                     style="display: flex; margin-top: 1em">
                    <a ng-href="{{::providerData.url}}" target="_blank">
                        <img ng-src="{{::providerData.image}}" class="user__image-small"/>
                    </a>
                    &nbsp;
                    <a ng-href="{{::providerData.url}}" target="_blank">
                        {{::providerData.displayName}}
                    </a>
                    &nbsp;
                    <a ng-href="{{::providerData.url}}" target="_blank">
                        <img ng-src="/images/icons/social/{{::providerName}}.svg"
                             height="35em"/>
                    </a>
                </div>
            </div>


            <md-button
                    id="update_rideshare"
                    class="md-raised md-primary"
                    ng-if="vm.isOwner"
                    ng-href="#!/rideshares/{{vm.rideshare._id}}/update">
                Update Rideshare
            </md-button>

        </div>

    </div>

    <div flex>
        <div class="rideshare__map">
            <rsm-rideshares-map
                    route="vm.rideshare.itinerary.route"></rsm-rideshares-map>
        </div>
    </div>

</div>
