<div flex="95" flex-md="80" flex-gt-md="70">

    <div ng-hide="vm.ready">
        <h3>Loading Latest Rideshares...</h3>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="vm.errors">
        <p ng-repeat="error in vm.errors">{{ ::error.title }}</p>
    </div>

    <div ng-if="vm.ready && !vm.errors">

        <h1>Latest Rideshares</h1>

        <label for="search"><b>Search</b>:</label>
        <input ng-model="q" id="search" placeholder="Search for a Rideshare">
        <br/><br/>

        <table
                ng-if="!vm.isSmall()"
                class="rideshare mobile">
            <tbody>

            <tr dir-paginate="item in vm.rideshares | filter:q | itemsPerPage: vm.pagination.itemsPerPage"
                current-page="vm.pagination.current">
                <td>
                    <a ng-href="#!/rideshares/{{ ::item._id }}">{{ ::item.origin }}</a><br/>
                    to<br/>
                    <a ng-href="#!/rideshares/{{ ::item._id }}">{{ ::item.destination }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <table
                ng-if="vm.isSmall()"
                style="width: 80%"
                class="rideshare">

            <thead>
            <tr>
                <td>Rideshare Origin</td>
                <td>Waypoints</td>
                <td>Rideshare Destination</td>
                <td>Last Update</td>
            </tr>
            </thead>

            <tbody>
            <tr dir-paginate="item in vm.rideshares | filter:q | itemsPerPage: vm.pagination.itemsPerPage"
                current-page="vm.pagination.current">

                <td>
                    <a ng-href="#!/rideshares/{{::item._id}}">
                        {{::item.origin}}
                    </a>
                </td>

                <td>
                    {{::item.waypoints}}
                </td>

                <td>
                    <a ng-href="#!/rideshares/{{ ::item._id }}">{{ ::item.destination }}</a>
                </td>

                <td nowrap>
                    {{::item.updated_at | date:'yyyy-MM-dd'}}
                </td>
            </tr>

            </tbody>
        </table>

    </div>

</div>

<div flex="95" flex-md="80" flex-gt-md="70" layout="row" layout-align="center">
    <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
