/*
Set height and width  of the #map_canvas parent div
Defining the size of the parent div so the browser can report the size to the Google Maps API.
 */
.rideshare__map {
  height: 500px;
  width: 100%;
}

// http://stackoverflow.com/questions/13962398/google-maps-api-v3-tools-visual-distortions
#map-canvas label {
  width: auto;
  display: inline;
}

// http://stackoverflow.com/questions/13962398/google-maps-api-v3-tools-visual-distortions
#map-canvas img {
  max-width: none;
}

#map_canvas {
  position: relative;
}

/* Google Maps div */
html, body, #map-canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
