h1 {
  font-family: 'Racing Sans One', cursive;
}

/* unvisited link */
a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: darkblue;
}

/* mouse over link */
a:hover {
  color: darkgreen;
}

/* selected link */
a:active {
  color: #0000FF;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

ng-md-icon.white {
  fill: white;
}