<div flex="95" flex-gt-sm="70">
    <h1>About Us</h1>

    <p>ridesharemarket.com exists simply to help each other share our travel resources.</p>

    <p>We also feel it's best to try not travel with a stranger so we incorporate social networking like facebook.com</p>

    <p>This way you, your friends and family can have more confidence in our overall safety with whom we travel with.</p>

    <p>We also would like us all to contribute in our own small way to help lighten our fuel resource usage footprint.</p>

    <p>Ride Share Market (version {{::version}})</p>
</div>