<div flex="95" flex-gt-sm="70">
    <h1>Contact Us</h1>

    <p>
        You may contact us direct here <a
            href="http://www.google.com/recaptcha/mailhide/d?k=018LlPIxwBJBGEA_-iI3ZNKA==&amp;c=XUafmriPsyubkalfZ5PWQ1DJ7lphIHn3JeJOUGv7fXZ6mdxabj8Rnuoq796wU94b"
            onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075018LlPIxwBJBGEA_-iI3ZNKA\75\75\46c\75XUafmriPsyubkalfZ5PWQ1DJ7lphIHn3JeJOUGv7fXZ6mdxabj8Rnuoq796wU94b', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
            title="Reveal this e-mail address">s...@ridesharemarket.com</a>
    </p>

</div>