<div flex="95" flex-gt-sm="70">
    <h1>About Us</h1>

    <p>Free, Accessible and Opensource Ride Sharing - this is the goal of <a href="#!/">ridesharemarket.com</a>.</p>

    <p>You are welcome to view all the code, though sensitive data like passwords and API keys are encrypted for security.</p>

    <p>The code base is under active development and is available at <a href="https://github.com/ride-share-market" target="_blank">github.com/ride-share-market</a></p>

    <p>If you have any questions or wish to contribute please <a href="#!/contact">contact us</a>.</p>

    <h1>How Ride Share Market Works</h1>

    <p>ridesharemarket.com exists simply to help each other share our travel resources.</p>

    <p>We also feel it's best to try not travel with a stranger so we incorporate social networking with Facebook, Linkedin and Google</p>

    <p>This way you, your friends and family can have more confidence in our overall safety with who we travel with.</p>

    <p>We also would like us all to contribute in our own small way to help lighten our <a href="https://en.wikipedia.org/wiki/Carbon_footprint" target="_blank">Carbon footprint</a>.</p>

    <br/>

    <p>Ride Share Market (version {{::version}})</p>
</div>