<div flex="95" flex-md="80" flex-gt-md="70">
    <p class="main">Find or create rideshares or carpools - Free!</p>

    <p class="main">Pinpoint locations and routes with Google Maps.</p>

    <p class="main">Great for work, vacation, travel, leisure or any type of event.</p>

    <h3>Get started:</h3>

    <ul>
        <li class="main"><a href="#!/about">How ridesharemarket.com works</a></li>
    </ul>

    <md-button class="md-raised md-primary" href="#!/rideshares/create">Create a Rideshare</md-button>

    <rsm-rideshares-latest></rsm-rideshares-latest>
</div>
