<div flex="95" flex-gt-sm="70">
    <h1>Privacy Policy</h1>

    <p>
        This privacy policy sets out how ridesharemarket.com uses and protects any information that you give when you using this
        website.
    </p>

    <p>
        Ridesharemarket.com is committed to ensuring that your privacy is protected. Ridesharemarket.com may change this privacy
        policy from time to time by updating this page. You should check this page from time to time to ensure that you are
        happy with any changes.
    </p>

    <p>This privacy policy is effective from May 2014.</p>

    <h3>What We Collect</h3>

    <p>Ridesharemarket.com collects the following information:</p>

    <p>Contact information, including email address</p>

    <h3>What We Do With The Information We Gather</h3>

    <p>
        Ridesharemarket.com requires this information to better understand your needs and provide you with a better service, and
        in particular for the following reasons:
    </p>

    <h3>Internal record keeping</h3>

    <p>We may use the information to improve our products and services.</p>

    <h3>Security</h3>

    <p>
        We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure,
        we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information
        we collect online.
    </p>

    <h3>How We Use Cookies</h3>

    <p>
        A cookie is a small file that asks permission to be placed on your computer’s hard drive. Once you agree, the file is
        added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web
        applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and
        dislikes by gathering and remembering information about your preferences.
    </p>

    <p>
        We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traf-
        fic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis
        purposes and then the data is removed from the system.
    </p>

    <p>
        Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and
        which you do not. A cookie in no way gives us access to your computer or any information about you, other than the
        data you choose to share with us.
    </p>

    <p>
        You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually
        modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the
        website.
    </p>

    <h3>Links to Other Websites</h3>

    <p>
        Our website may contain links to other websites of interest. However, once you have used these links to leave our
        site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for
        the protection and privacy of any information that you provide whilst visiting such sites and such sites are not gov-
        erned by this privacy statement.
    </p>

    <p>You should exercise caution and look at the privacy statement applicable to the website in question.</p>

    <h3>Questions About This Privacy Policy</h3>

    <p>
        If you have any questions about this privacy policy, you can contact us through any of the available methods listed on
        our Contact page.
    </p>
</div>