<div flex="95" flex-md="80" flex-gt-md="70">
    <p>Ridesharemarket.com is a free and easy to use system where you can find or create rideshares or carpools.</p>

    <p>Using the power of Google Maps to pinpoint locations and routes, ridesharemarket.com is a global system.</p>

    <p>Use ridesharemarket.com to find or create rideshares or carpools for work, vacation, leisure or any type of event.</p>

    <h3>Get started:</h3>

    <ul>
        <li><a href="#!/about">How ridesharemarket.com works</a></li>
        <li><a href="#!/rideshares/create">Create a rideshare</a></li>
    </ul>

    <rsm-rideshares-latest></rsm-rideshares-latest>
</div>
