<div flex="95" flex-md="80" flex-gt-md="70">
    <h1>Ride Share Market</h1>

    <p>Lorem ipsum dolor sit amet, stet dolore facilis pri no. Ex eum dicit tibique. Nobis corrumpit sed id, vis tamquam integre ex. At dico corpora pri. Ne eam corpora oportere, sit et semper reformidans.</p>

    <p>Nihil primis nostro mea et, copiosae indoctum liberavisse ius ei. Vix ex odio recteque iudicabit, eos ei graece vivendo minimum. Est no deleniti reprimique. Et eos laudem euismod. Ad nec alia eirmod virtute, per posse summo offendit cu.</p>

    <p>Dicant altera efficiantur et eos, in modo saperet similique quo. Mel an reque ubique conclusionemque. Quaerendum vituperatoribus ei eam, doctus equidem pro ei, mel cu eirmod platonem reprehendunt.</p>

    <rsm-rideshares-latest></rsm-rideshares-latest>
</div>
